body {
  font-family: Helvetica, arial, sans-serif;
}

/* navbar */
#nav {
  position: sticky;
  top: 0;
  z-index: 1001;
}

.navbar {
  background-color: #01e2a0;
}

.navbar-brand span {
  font-weight: bold;
  color: #fff;
}

.navbar-nav li {
  padding: 0 10px;
}

#garisbawah:hover {
  border-bottom: 2px solid #fff;
}


#banner {
  position: relative;
  color: #fff;
  padding-top: 5%;
}

.title {
  font-weight: bold;
  margin-top: 70px;
}

.ban-img {
  position: relative;
  z-index: 1000;
}

#caption {
  position: relative;
  z-index: 1000;
}

.wave {
  position: absolute;
  bottom: -20%;
  left: 0;
}

#home {
  background-color: #01e2a0;
  min-height: 100vh;
}

#foto {
  border-radius: 50px;
}

.button1 {
  background-color: #004a33;
}

.main {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5%;
}

#main_utama {
  padding-top: 5%;
}

.wrapper {
  min-height: 70vh;
}

/* .card1 {
  box-shadow: 0 4px 8px 0 #008a61;
  border-radius: 5px;
  padding: 20px;
  background: whitesmoke;
} */

/* .card_judul {
  margin: 0 auto;
  width: 60%;
  border-radius: 30px;
  text-align: center;
  padding: 5px;
  margin-top: -50px;
  margin-bottom: 20px;
  background-color: #008a61;
} */

#backgroundauth {
  padding: 0px 50px;
}

#backgroundright {
  border-radius: 5px;
  padding-top: 15%;
  padding-bottom: 50px;
}

#backgroundrightbot {
  border-radius: 5px;
  padding-top: 15%;
  padding-bottom: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
}

footer {
  background-color: #fff;
  /* bottom: -5px; */
}

@media only screen and (max-width: 900px) {

  .wrapper {
    min-height: 80vh;
  }

  #backgroundauth {
    display: none;
  }

  #konsulresponsive {
    padding-left: 0;
    padding-right: 0;
  }

  .wave {
    display: none;
  }

  #judulhalaman {
    font-size: x-large;
  }

  #caption {
    text-align: center;
  }

  #caption h2 {
    font-size: larger;
  }

  #caption h5 {
    font-size: medium;
  }



}