body {
  font-family: Helvetica, arial, sans-serif;
}

.judul {
  padding: 15px;
}

nav {
  background-color: whitesmoke;
}



#home {
  background-color: #01e2a0;
}

#foto {
  border-radius: 50px;
}

.button1 {
  background-color: #004a33;
}
  
.main {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5%;
}

#main_utama {
  padding-top: 5%;
}

.card1 {
  box-shadow: 0 4px 8px 0 #008a61;
  border-radius: 5px;
  padding: 20px;
  background: whitesmoke;
}

.card_judul {
  margin: 0 auto;
  width: 60%;
  border-radius: 30px;
  text-align: center;
  padding: 5px;
  margin-top: -50px;
  margin-bottom: 20px;
  background-color: #008a61;
}

footer {
  background-color: whitesmoke;
}